fastapi==0.115.0
mysql-connector-python==9.0.0
numpy==2.1.1
pandas==2.2.3
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
selenium==4.25.0
SQLAlchemy==2.0.35
uvicorn==0.31.0
webdriver-manager==4.0.2


